/* Google sign-in button */
.asl-google-signin-button {
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 16px;
  
    &:hover {
      background-color: #eeeeee;
    }
  }
  
  /* Facebook logo */
  .facebook-logo {
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 16px;
  
    &:hover {
      background-color: #eeeeee;
    }
  }
  