<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Password Reset</h1>
      </div>

      <div class="input-group mb-3">
        <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" placeholder="Password"
          formControlName="password">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
            <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
          </button>
        </div>
      </div>

      <div class="input-group mb-3">
        <input type="{{ showPasswordSecond ? 'text' : 'password' }}" class="form-control" placeholder="Password Confirm"
          formControlName="passwordConfirm">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibilitySecond()">
            <i [class]="showPasswordSecond ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
          </button>
        </div>
      </div>
      <button [disabled]="loginForm.invalid || loginForm.get('password').value !== loginForm.get('passwordConfirm').value" 
        class="btn btn-lg btn-primary btn-block" type="submit">Update Password</button> 
    </form>
  </div>
</div>